*{
    margin:0px;
    padding: 3.5px;
    box-sizing: border-box;
}
:root {
    --navbar-bg-color: #ffffff;
    --navbar-menu-color: #ffffff;
    --navbar-link-color: rgba(51, 51, 51, 0.7);
    --navbar-link-hover-color: #1a1a1a;
    --navbar-link-active-color: #1a1a1a;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Comfortaa', cursive;
}
header h1{
    border: 2px;
    border-color: black;
    margin:50px 10px 30px 0px;
    text-align: center;
    font-size: 30px; 
}
header p{
    font-size:15px;
    left: 30px;
    text-align: center;
}

